<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome!
    </h1>
  </div>

  <div class="form-group">
    <label for="todo-input">Add new todo</label>
    <input class="form-control" id="todo-input" placeholder="your todo" [(ngModel)]="todo">
  </div>

  <button class="btn btn-outline-primary" (click)="addTodo(todo)" [disabled]="!todo" *ngIf="!editing">
    Add todo
  </button>

  <button class="btn btn-outline-secondary" (click)="updateTodo(todo)" *ngIf="editing">
    Update
  </button>
  <button class="btn btn-outline-danger" (click)="cancelEdit()" *ngIf="editing">
    Cancel
  </button>

  <br><br>
  <h2>Your todos</h2>

  <div class="todos">
    <div class="alert alert-primary" role="alert" *ngIf="(todos$ | async)?.length == 0">
      You don't have any todos! 😞
    </div>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let todo of todos$ | async; let i = index;">
          <span [class.done]="todo.done">{{ todo.value }}</span>
          <div class="todo-actions">
            <button class="btn btn-outline-info" (click)="editTodo(todo, i)">Edit</button>
            <button class="btn btn-outline-success" (click)="toggleDone(todo, i)">Toggle Done</button>
            <button class="btn btn-outline-danger" (click)="deleteTodo(i)">X</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
